*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    opacity: 0;
    transition: opacity 5s;
}





/**************        Nav Bar       ****************/
#nav-height{
    height: 7rem;
    width: 100%;
}
nav{
    padding: 30px;
    background-color: #25262A;
}
ul .nav-item a{
    margin-right: 50px;
    font-weight: 400;
    font-size: 25px;
    color: white; 
    transition:all .2s;
    font-family: 'Poppins';
}
ul .nav-item a:hover{
    text-decoration-line: underline;
    text-decoration-color:white;
    text-decoration-thickness: 3.5px;
    border-radius: 5px;
    text-underline-offset: 8.5px;
    font-size: 26px;
}

div .col-3{
    margin-left: 60px;
}
div #bt1{
    width: 60px;
    height: 3.6rem;
    border-radius: 10px;
    margin-left: 50px;
    color: #fcb900;
    background-color:#2D2E32;
    border: none;
    transition: 1s;
    font-family: 'Poppins';
}
div #bt1:hover{
    background-color: #fcb900;
    color: black;
}
div #bt2{
    width: 190px;
    height: 3.6rem;
    border-radius: 10px;
    background-color: #fcb900;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
    color: black;
    text-align: center;
    padding-top: 13px;
}






/**************        Home       ****************/


/********      Home-LEFT     ***********/
#home .row{
    background-color: #25262a;
    padding-top: 40px;
    height: 52.5rem;
}
#home .row .left{
    float: left;
    padding-top: 60px;
    padding-left: 40px;
}
#home .row #content,h1,h3{
    color: white;
}
@keyframes fada {
    from {
        line-height: 5px;
    }
    to {
        opacity: 1;
        line-height: 16px;
    }
}
#home #home-title #bord{
    border-bottom: 1px solid #64f4ab;
    width: 3%;
    float: left;
    margin-top: 10px;
    animation: fada 1s ease 0.8s forwards;
    opacity: 0;
}
#home #home-title span{
    color: #64f4ab;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    float: right;
    margin-right: 445px;
    animation: fada 1s ease 0.8s forwards;
    opacity: 0;
}
@keyframes fad {
    from {
        line-height: 64px;
    }
    to {
        opacity: 1;
        line-height: 94px;
    }
}
#home .left h1{
    font-size: 78px;
    font-weight: 600;
    line-height: 94px;
    font-style: normal;
    clear: both;
    animation: fad 1s ease 0.8s forwards;
    opacity: 0;
}
@keyframes fa {
    from {
        line-height: 84px;
    }
    to {
        opacity: 1;
        line-height: 107px;
    }
}
#home h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 100px;
    font-weight: 700px;
    line-height: 107px;
    animation: fa 1s ease 1s forwards;
    opacity: 0;
}
@keyframes faa {
    from {
        line-height: 10px;
    }
    to {
        opacity: 1;
        line-height: 26px;
    }
}
#home #content{
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 300;
    line-height: 26px;
    animation: faa 1s ease 1s forwards;
    opacity: 0;
}
#home #left-bt{
    width: 190px;
    height: 3.6rem;
    border-radius: 10px;
    background-color: #fcb900;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
    box-shadow: 0px 1px 7px 1px rgb(245, 204, 72);
    transition: 1s;
}
#home #left-bt:hover{
    box-shadow: none;
}




/********      Home-RIGHT     ***********/
#home .right {
    float: right;
    position: relative;
    margin-left: 3%;
}
#home .back {
    width: 800px;
    height: 800px;
    border: 130px solid #64f4ab;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 90;
    animation: scaleUp 1s ease 1s forwards;
    transform-origin: center;
    transform: scale(0);
}
@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
#home .back #cl-one {
    animation: fade 1s ease 2s forwards;
    opacity: 0;
}
#home .back #cl-two {
    animation: fade 1s ease 2s forwards;
    opacity: 0;
}
#home .back #cl-three {
    animation: fade 1s ease 2s forwards;
    opacity: 0;
}
#home .back #cl-four {
    animation: fade 1s ease 2s forwards;
    opacity: 0;
}
@keyframes fade {
    to {
        opacity: 1;
    }
}
#home .back h1 {
    background-color: #444444;
    color: #64f4ab;
    font-style: normal;
    font-weight: 600;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .back #cl-one{
    position: absolute;
    right: 109%;
    top: 42%;
}
#home .back #cl-two{
    position: absolute;
    right: 92%;
    bottom: 90%;
}
#home .back #cl-three{
    position: absolute;
    left: 90%;
    bottom: 90%;
}
#home .back #cl-four{
    position: absolute;
    left: 110%;
    top: 42%;
}
#home .front {
    position: relative;
    z-index: 90;
    bottom: 5%;
}
@keyframes fadeIn {
    from {
        width: 60%;
    }
    to {
        opacity: 1;
        width: 76%;
    }
}
#home .front img {
    position: absolute;
    width: 76%;
    left: 9%;
    animation: fadeIn 1s ease 2.5s forwards;
    opacity: 0;
}
  




/**************        DESIGN       ****************/


/********      DESIGN-LEFT     ***********/
.design .row{
    background-color: #2d2e32;
    padding-bottom: 120px;
}
.design .row .left{
    padding-top: 160px;
    padding-left: 40px;
}
.design .left div{
    width: 45%;
    height: 23rem;
    background-color: #25262a;
    border-radius: 40px;
    transition: 1s;
}
.design .left h1{
    text-align: center;   
}
.design .left .icon{
    width: 110px;
    height: 110px;
    border: 2px solid #53cc8f;
    background-color: #2d2e32;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 65px;
    margin-bottom: 25px;
    transition: 1s;
}
.design .left .design-content{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 26px;
    margin-top: 25px;
}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  } 
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
.design .left #design-one{
    float: left;
    margin-left: 30px;
    margin-bottom: 40px;
    animation: fadeInUp 2s ease-in-out;
}
.design .left #design-two{
    float: right;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-top: 40px;
    animation: fadeInLeft 2s ease-in-out;
}
.design .left #design-three{
    float: left;
    margin-left: 30px;
    margin-bottom: 40px;
    animation: fadeInRight 2s ease-in-out;
}
.design .left #design-four{
    float: right;
    margin-bottom: 40px;
    margin-right: 10px;
    animation: fadeInUp 2s ease-in-out;
}
.design .row .left div:hover{
    background-color: #53cc8f;
    box-shadow: 5px 0 40px -3px #53cc8f;
    box-shadow: 0 5px 40px -3px #53cc8f;
}
svg {
    width: 40px;
    height: 40px;
  } 
#design-one:hover #profuct_design_-_icon path {
    fill: white;
}
#design-two:hover #logo_design_-_icon path{
    fill: white;
}
#design-three:hover #ui_design_-_icon path{
    fill: white;
}
#design-four:hover #icon_design_-_icon path{
    fill: white;
}





/********      DESIGN-RIGHT     ***********/
.design .right{
    padding-left: 150px;
}
#design-title{
    margin-top: 320px;
}
.design #design-title #bord2{
    border-bottom: 1px solid #64f4ab;
    width: 3%;
    float: left;
    margin-top: 9px;
}
.design #design-title span{
    color: #64f4ab;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    float: right;
    margin-right: 490px;
}
.design-right-content h1,p{
    color: white;
    clear: both;
}
.design-right-content p{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 40px;
}
.design-right-content h1{
    line-height: 63px;
    font-family: 'Montserrat';
    padding-top: 20px;
}
.design-right-content button{
    width: 240px;
    height: 3.6rem;
    border-radius: 10px;
    background-color: #fcb900;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
}





/**************        PORTFOLIO       ****************/
.portfolio .row{
    background-color: #2d2e32;
    padding-top: 60px;
    padding-bottom: 200px;
}
.portfolio #p1-title #p1-bord{
    border-bottom: 1px solid #64f4ab;
    width: 3%;
    float: left;
    margin-top: 8px;
}
.portfolio #p1-title span{
    color: #64f4ab;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    float: right;
    margin-right: 580px;
}
.portfolio .project-1left{
    padding-left: 50px;
    margin-top: 100px;
}
.portfolio .project-1left h1{
font-size: 42px;
font-weight: 600;
font-size: 'Montserrat';
clear:both;
margin-top: 40px;
margin-bottom: 50px;
}
.portfolio .project-1left p{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 30px;
    width: 85%;
    margin-bottom: 30px;
}
.portfolio .project-1left a{
    color: #fcb900;
    font-size: 18px;
    font-family: 'Poppins';
    text-decoration: none;
    transition:all 2s;
}
.portfolio .project-1left a:hover i{
    margin-right: 40px;
}
.portfolio .project-1left i{
    margin-right: 20px;
    transition: all 1s;
}
.portfolio .project-1right{
    position: relative;
}
.portfolio .project-1right a img{
    border-radius: 50px;
    display: block;
    position: relative;
    z-index: 1;
}
.portfolio .project-1right .p1-bg {
    background-color: #404040;
    width: 85%;
    height: 34rem;
    border-radius: 50px;
    display: block;
    position: absolute;
    top: 0;
     z-index: 0;
    transform: rotate(-9deg);
    margin-left: 5px;
}
.portfolio #p2-title #p2-bord{
    border-bottom: 1px solid #64f4ab;
    width: 3%;
    float: left;
    margin-top: 8px;
}
.portfolio #p2-title span{
    color: #64f4ab;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    float: right;
    margin-right: 460px;
}
.portfolio .project-2left{
    padding-left: 50px;
    margin-top: 100px;
    float: right;
}
.portfolio .project-2right{
    margin-left: 50px;
}
.portfolio .project-2left h1{
font-size: 42px;
font-weight: 600;
font-size: 'Montserrat';
clear:both;
margin-top: 40px;
margin-bottom: 50px;
}
.portfolio .project-2left p{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 30px;
    width: 85%;
    margin-bottom: 30px;
}
.portfolio .project-2left a{
    color: #fcb900;
    font-size: 18px;
    font-family: 'Poppins';
    text-decoration: none;
    transition:all 2s;
}
.portfolio .project-2left a:hover i{
    margin-right: 40px;
}
.portfolio .project-2left i{
    margin-right: 20px;
    transition: all 1s;
}


  .portfolio .project-1right.pro1 a img.rotate-img,
  .portfolio .project-1right.pro2 a img.rotate-img,
  .portfolio .project-1right.pro3 a img.rotate-img,
  .portfolio .project-1right.pro4 a img.rotate-img,
  .portfolio .project-1right.pro5 a img.rotate-img,
  .portfolio .project-1right.pro6 a img.rotate-img,
  .portfolio .project-1right.pro7 a img.rotate-img {
    border-radius: 50px;
    display: block;
    position: relative;
    z-index: 1;
    transform: rotate(15deg);
    transition: transform 1.5s ease;
  } 
  .portfolio .project-1right.pro1 a img.rotate-img.animate,
  .portfolio .project-1right.pro2 a img.rotate-img.animate,
  .portfolio .project-1right.pro3 a img.rotate-img.animate,
  .portfolio .project-1right.pro4 a img.rotate-img.animate,
  .portfolio .project-1right.pro5 a img.rotate-img.animate,
  .portfolio .project-1right.pro6 a img.rotate-img.animate,
  .portfolio .project-1right.pro7 a img.rotate-img.animate {
    transform: rotate(0deg);
  }
.portfolio .project-2right .p1-bg {
    background-color: #404040;
    width: 85%;
    height: 34rem;
    border-radius: 50px;
    display: block;
    position: absolute;
    top: 0;
    z-index: 0;
    transform: rotate(-9deg);
    margin-left: 5px;
}
.portfolio .port{
    background-color: white;
    width: 12%;
    height: 4rem;
    border-radius: 10px;
    font-size: 20px;
    transition: all 1s;
    box-shadow: 0px 2px 20px white;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}
.portfolio .por{
    background-color: white;
    width: 12%;
    height: 4rem;
    border-radius: 10px;
    font-size: 20px;
    transition: all 1s;
    margin-left: 30px;
}
.portfolio .port:hover .por {
    background-color: #25262A;
    color: white;
    box-shadow: none;
}





/**************        COUNTER       ****************/
.counter{
    text-align: center;
}
.counter .row{
    background-color: #2d2e32;
    padding-bottom: 150px;
}
.counter .row .col #counter-1, #counter-2, #counter-3, #counter-4{
    font-family: 'Montserrat';
    font-size: 87px;
    font-weight: 600;
    line-height: 87px;
    color: #64f4ab;
}
.counter .counter-content{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 400;
    line-height: 91px;
    color: #e8e8e8;
}
.counter #counter-one,#counter-two,#counter-three,#counter-four{
    height: 23rem;
    background-color: #25262a;
    padding-top: 100px;
    transition: 9s;
}
.counter #counter-one{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    position:relative;
    left: 8%;
}
.counter #counter-two{
    position:relative;
    left: 2%;
}
.counter #counter-three{
    position:relative;
    right: 4.5%;
}
.counter #counter-four{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    position:relative;
    right: 10.5%;
}




/**************        SLIDER       ****************/
.slide .row{
    background-color: #2d2e32;
    padding-bottom: 150px;
}
.slide .images{
    position: relative;
    float: left;
    padding-left: 170px;
}
.slide .images img{
    border-radius: 50px;
    width: 60%;
    height: 30rem;
    display: block;
    position: relative;
    z-index: 1;
    margin-left: 250px;
}
.slide .images .image-bg {
    background-color: #404040;
    width: 50%;
    height: 30rem;
    border-radius: 50px;
    display: block;
    position: absolute;
    top: 0;
     z-index: 0;
    transform: rotate(-9deg);
    margin-left: 242px;
}
.slide .slider-content{
    float: right;
    width: 29%;
    margin-right: 870px;
}
.slide .second::after {
    content: "";
    display: table;
    clear: both;
}
.slide .slider-content i{
    color: #64f4ab;
    font-size: 80px;
}
.slide .second h2{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 33px;
    color: white;
    line-height: 40px;
    margin-top: 40px;
}
.slide .second .sl1{
    font-size: 26px;
    font-weight: 100;
    font-family: 'Poppins';
    color: #64f4ab;
}
.slide .second .sl2{
    font-size: 18px;
    color: #e8e8e8;
    font-weight: 300;
    font-family: 'Poppins';
} 
.slide #im-1{
    margin-bottom: 250px;
}
hidden {
    display: none;
  }
  /*********************     Keyframes for autoplay    **************/
  @-webkit-keyframes autoplay {
    0% {
      left: 0;
    }
    25% {
      left: -40.625rem;
    }
    50% {
      left: -81.25rem;
    }
    100% {
      left: -121.875rem;
    }
  }
  @keyframes autoplay {
    0% {
      left: 0;
    }
    25% {
      left: -40.625rem;
    }
    50% {
      left: -81.25rem;
    }
    100% {
      left: -121.875rem;
    }
  }
  .slider {
    position: relative;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    width: 90%;
    height: 40rem;
    box-shadow: 0 4px 14px #2d2e32;;
    padding-top: 50px;
  }
  .slider__list {
    position: relative;
    width: 162.5rem;
    margin-right: auto;
    margin-left: auto;
    right: 30%;
  }
  .slider__slide {
    float: left;
  }
  .slider__control {
    margin-right: auto;
    margin-left: auto;
    width: 4.5rem;
    font-family: sans-serif;
  }
  .slider__control label {
    position: relative;
    display: block;
    margin-top: 2.4rem;
    margin-bottom: 1rem;
    width: 4.5rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: transparent;
    background-color: #2d2e32;
    border-radius: 2rem;
    cursor: pointer;
    transition: left 1s ease-out;
  }
  .slider__control label:before {
    content: "autoplay";
    position: absolute;
    top: 2.5rem;
    left: 0;
    color: #2d2e32;
    font-size: .95rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .slider__control label:after {
    content: "";
    position: absolute;
    top: .25rem;
    left: .25rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    background-color: #2d2e32;
    transition: left 1s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .slider__switch:checked + .slider > .slider__list {
    -webkit-animation-name: autoplay;
            animation-name: autoplay;
    -webkit-animation-duration: 10s;
            animation-duration:  4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .slider__switch:checked + .slider + .slider__control > label {
    background-color: #2d2e32;
  }
  .slider__switch:checked + .slider + .slider__control > label:after {
    left: 2.75rem;
  }
  




/**************        WORK       ****************/
.work .row{
    background-color: #2d2e32;
    padding-top: 30px;
    padding-bottom: 150px;
}
.work .wk{
    background-color: #25262a;
    text-align: center;
    width: 95%;
    height: 26rem;
    border-radius: 50px;
    margin: auto;
    position: relative;
    /* z-index: 0; */
}
.work h1{
    font-size: 46px;
    font-weight: 600;
    font-family: 'Montserrat';
    line-height: 83px;
    text-align: center;
    position: relative;
    top: 18%;
}
.work .wk p{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 290px;
    text-align: center;
    margin-top: 100px;
    width: 60%;
}
.work .btn{
    width: 190px;
    height: 3.6rem;
    border-radius: 10px;
    background-color: #fcb900;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
}





/**************        FOOTER       ****************/
.footer .row{
    background-color: #020202;
}
.footer .foot{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.footer .row .foot button{
    background-color: #0d0d0e;
    margin-right: 330px;
}
.footer p{
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    position: relative;
    right: 14%;
}
.footer .bt a{
    background-color: wheat;
    width: 67px;
    height: 4.2rem;
    border-radius: 10px;
    color: #fcb900;
    background-color:#2D2E32;
    border: none;
    transition: 1s;
    font-family: 'Poppins';
    font-size: 24px;
    text-align: center;
    padding-top: 19px;
}
.footer .bt a:hover{
    background-color: #fcb900;
    color: #25262a;
}
.footer .bt .bt1{
    position: relative;
    right: 50%;
}
.footer .bt .bt2{
    position: relative;
    right: 35%;
}
.footer .bt .bt3{
    position: relative;
    right: 20%;
}
.footer .bt .bt4{
    position: relative;
    right: 3%;
}



/**************        CONTACT       ****************/


/********      CONTACT-LEFT     ***********/
.contact .row{
    background-color: #2e2e30;
    padding-top: 40px;
}
.contact .row .left{
    float: left;
    padding-top: 60px;
    padding-left: 40px;
}

.contact #contact-title #bord{
    border-bottom: 1px solid #64f4ab;
    width: 3%;
    float: left;
    margin-top: 2px;
    animation: fada 1s ease 0.8s forwards;
    opacity: 0;
}
.contact #contact-title span{
    color: #64f4ab;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    float: right;
    margin-right: 570px;
    animation: fada 1s ease 0.8s forwards;
    opacity: 0;
    margin-top: 12px;
}
.contact #cont-head{
    padding-top: 25px;
}
.contact h1{
    font-size: 28px;
    font-family: 'Montserrat';
    clear: both;
}
.contact p{
    /* width: 40%; */
    font-size: 15px;
    padding-bottom: 20px;
}
.contact .icon a{
    width:80px;
    height: 80px;
    border-radius: 50%;
    background-color: #25262A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #64f4ab;
    font-size: 30px;
    text-decoration: none;
    transition: all 1s;
}
.contact .icon a:hover{
    background-color: #fcb900;
    color: black;
}
.contact .right{
    float: right;
    display: block;
}
.contact input{
    width: 35%;
    border: 1px solid #64f4ab;
    height: 3rem;
    border-radius: 10px;
}
.contact #in1{
    float: left;
    margin-top: 30px;
}
.contact #in2{
    float: right;
    position: relative;
    right:28%;
}
.contact input,textarea{
    background-color: #25262A;
    color: white;
}
.contact textarea{
    width: 72%;
    border: 1px solid #64f4ab;
    height: 15rem;
    border-radius: 10px;
    margin-top: 20px;
}
.contact .right button{
    width: 190px;
    height: 3.6rem;
    border-radius: 10px;
    background-color: #fcb900;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
    color: black;
    /* margin-right: 10px; */
    position: relative;
    right: 55%;
    top: 8%;
}
/**************        RESPONSIVENESS       ****************/


/**************        ANIMATION       ****************/
@keyframes right {
    0% {
      transform: translateX(-100%);
      width: 400px;
      height: 100px;
    }
    100% {
      transform: translateX(0);
      width: 800px;
      height: 800px;
    }
  }
#home .right .front{
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 2;
    animation-name: slideInLeft;
  }




/*********   MOBILE RESPONSIVENESS    *******/
  @media (max-width: 576px) {
    .container-fluid {
        width: 100%;
      }
      body {
        font-size: 18px;
        width: 100%;
      }
  }


/*********   TABLETS RESPONSIVENESS    *******/
  @media (min-width: 577px) and (max-width: 767px) {
    .container-fluid {
        width: 100%;
      }
      body {
        font-size: 18px;
        width: 100%;
      }
  }


/*********   SMALL LAPTOP RESPONSIVENESS    *******/
  @media (min-width: 768px) and (max-width: 991px) {
    .container-fluid {
        width: 100%;
      }
      body {
        font-size: 18px;
        width: 100%;
      }
  }


/*********   LARGE LAPTOP & DESKTOP SCREEN RESPONSIVENESS    *******/
  @media (min-width: 992px) and (max-width: 1199px) {
    .container-fluid {
        width: 100%;
      }
      body {
        font-size: 18px;
        width: 100%;
      }
  }


/*********   EXTRA LARGE DESKTOP SCREEN RESPONSIVENESS    *******/
  @media (min-width: 1200px) {
    .container-fluid {
        width: 100%;
      }
      body {
        font-size: 18px;
        width: 100%;
      }
  }