@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    transition: all .2s linear;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:aqua;
    height: auto;
    width: 100%;
}
#header h1{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-image: url(img1.jpeg);
    height: 15vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
                -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
                0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
            }

#header p{
    font-size: 24px;
}
#operation{
    color: black;
    font-size: 30px;
    text-align: center;
}
.buttons{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buttons .butt{
    background-color: #ff7800;
    color: white;
    border: none;
    outline: none;
    width: 155px;
    height: 55px;
    margin: 10px;
    border-radius: 45px;
    font-size: 20px;
}
.buttons .butt:hover{
    background-color:white;
    width: 150px;
    height: 57px;
    border-radius: 45px;
    color: black;
}



/*********************  New Account   ************************/
#hom{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    border-radius: 10px;
    /* padding: 1.2%; */
    text-decoration: none;
    background-color: pink;
    color: white;
    font-size: 20px;
    border: 1px solid white;
}
#hom:hover{
    background-color: aqua;
    color: black;
    border-color: black;
}
form{
    /* background-color: rgb(211, 97, 97); */
    background-color: pink;
    margin-top: 3%;
}
/* #fom #new_at{
    padding-top: 3%;
    padding-bottom: 3%;
} */
form input[type=text],input[type=tel],[type=number],[type=date]{
    width: 25%;
    height: 5vh;
    font-size: 20px;
    border-top:4px solid gray;
    border-left:4px solid gray; 
}
form input{
    border: none;
    outline: none;
    margin-left: 5px;
    margin-bottom: 10px;
}
form input:focus{
    border: 3px solid yellow;
    background-color: aqua;
}
form input[type='radio']{
transform: scale(2);
outline: none;
border: none;
background-color: rgb(211, 97, 97);
}
#ty1 input{
    /* width: 30px; */
    /* height: 30px; */
margin-bottom: 32px;
}
#ty2 .acc2{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}
#fom h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
#account_tp{
    width: 18%;
    height: 30vh;
    margin-left: 18%;
    margin-top: 1.5%;
}
#ty1{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 56px;
    height: auto;
    float: left;
    margin-left: 2.3%;
}
#ty2{
    display: flex;
    flex-direction: column;
    /* margin-right: 1250px; */
    /* margin-bottom: 100px; */
   float: right;
   width: 200px;
   height: auto;
   margin-left: 0.1%;
}
form .acc,.acc1{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
#acc_type2{
    margin-left: 9.8%;
}
#acc_type3{
    margin-left: 5.4%;
}
#acc_type4{
    margin-left: 2.5%;
}
#acc_type5{
    margin-left: 7.5%;
}
#acc_type6{
    margin-left: 10.5%;
}
#acc_type7{
    margin-left: 8.1%;
}
#acc_type8{
    margin-left: 8.4%;
    margin-top: 1%;
    display: inline-block;
}
.acc_type9{
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}
.acc_type99{
    margin-left: 1%;
}
#acc_type11{
    margin-left: 4.2%;
    float: left;
}
#acc_type12{
    margin-left: 8.5%;
}
#acc_type13{
    margin-left: 8.1%;
    margin-top: 1%;
    display: inline-block;
}
#acc_type14{
    display: inline-block;
    margin-top: 1%;
    margin-left: 1.1%;
}
button{
    width: 10%;
    height: 8vh;
    border-radius: 45px;
    background-color: green;
    border: 1px solid white;
    font-size: 20px;
    color: white;
    margin-top: 1%;
}
button:hover{
    width: 10.5%;
    height: 8vh;
    background-color: aqua;
    color: black;
    border: 1px solid black;
}
button[type=reset]{
margin-left: 20px;
}
.acc,.acc2{
    margin-left: 6%;
    margin-right: 50px;

}




/*********************      Withdrawal      ********************/
#fom #with_dw{
    padding-top: 1%;
    padding-bottom: 2.3%;
}
.acc1{
    margin-right: 5%;
}
#acc_type1{
    margin-left: 7.1%;
}
#acc_type18{
    margin-left: 10.8%;
}
#acc_type19{
    margin-left: 4%;
}
#acc_type15{
    margin-left: 2.7%;
}
#acc_type16{
    margin-left: 1.4%;
}
#acc_type17{
    margin-left: 9.7%;
}



/*********************      Deposite        ********************/
#acc_type21{
    margin-left: 3%;
}
#acc_type20{
    margin-left: 5.6%;
}
#acc_type22{
    margin-left: 9.5%;
}




/*********************      Balance Enquiry     *********************/
#fom #bal_eq{
    padding-top: 6%;
    padding-bottom: 10.2%;
}


/**********************     Close Account       *********************/
#fom #cl_at{
    padding-top: 6%;
    padding-bottom: 10.6%;
}


/*********************      Modifying Account       *********************/
#modf_at{
    padding-top: 6%;
    padding-bottom: 9.1%;
}
#acc_type23{
    margin-left: 3%;
}


/*********************      All Customers Accounts      *********************/
#all_at{
    padding-top: 7%;
    padding-bottom: 16.7%;
}
#acc_type24{
    margin-left: 8.7%;
}